* {
    margin: 12px;
    background-color: rgb(230, 239, 248);
}

.headerIcon {
    fill:aqua;
    width: 40px;
    height: 40px;
}

.headerTitle {
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
}

